@import 'common/styles/index.scss';

.portfolios {
  padding: 17vh 6.3vw;
  transform: var(--portfolio-translate);
  width: calc(100% - 11.9vw);
}

#portfolios {
  position: relative;
  height: 100%;
}

.portfolios, #portfolios {
  overflow: hidden;
}

.entering-wrap {
  position: absolute;
  font-weight: 600;
  font-size: 8.2rem;
  line-height: 9.8rem;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.entering {
  overflow: hidden;
}

.percent-wrap {
  position: fixed;
  top: 2.5rem;
  right: 3rem;
  z-index: 1;
  overflow: hidden;
  mix-blend-mode: exclusion;
}

.percent {
  color: #fff;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.entering__text {
  font-size: 6.4rem;
}

@media screen and (max-width: $mobile) {
  .portfolios {
    padding: 10.7rem 0 0;
  }

  .portfolio__img {
    background-position: 50% 50%;
  }

  .portfolio-grid__row {
    grid-template-columns: 1fr;
  }

  .entering__text {
    font-size: 2.6rem;
  }

  .percent {
    font-size: 1.8rem;
  }

  #portfoliosContent {
    width: 100%;
  }

  #portfolios {
    position: relative;
    height: 100%;
    width: 100%;
  }

  .percent-wrap {
    top: 3rem;
  }
}
