@import 'common/styles/index.scss';

.layout {
  padding: 2.5rem 2.5rem;
  height: calc(100vh - 5rem);
  max-width: 1920px;
  margin: 0 auto;

  &_disabled {
    pointer-events: none;
  }
}

.layout__head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 2.5rem;
  padding: 0 2.5rem;
  left: 0;
  width: calc(100% - 5rem);
  @include transition(transform);
}

.layout__head_hide {
  transform: translateY(-100px);
}

.logo {
  font-family: $neueFont, sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 2.7rem;
  justify-self: center;
  will-change: transform, translate, rotate, scale;
}

.header_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header_bottom {
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  transform: translateX(-50%);
}

.layout__bottom {
  position: fixed;
  bottom: 1.9rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: $neueFont, sans-serif;
  color: #fff;
  overflow: hidden;
  font-size: 3.2rem;
}

.header {
  overflow: hidden;
  will-change: transform;
}

#head-menu {
  justify-self: right;
}

@media screen and (max-width: $mobile) {
  .logo {
    font-size: 1.8rem;
  }

  .layout {
    padding: 2rem
  }

  .layout__bottom {
    font-size: 1.8rem;
    white-space: nowrap;
  }

  .header_bottom {
    height: 3rem;
  }
}
