@import 'common/styles/index.scss';

.layout {
  padding: 2.5rem 2.5rem;
  height: calc(100vh - 5rem);
  max-width: 1920px;
  margin: 0 auto;

  &_disabled {
    pointer-events: none;
  }
}

.layout__head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  top: 2.9rem;
  padding: 0 2.2rem;
  left: 0;
  width: calc(100% - 5rem);
  @include transition(transform);
}

.layout__head_hide {
  transform: translateY(-100px);
}

.logo {
  font-family: $neueFont, sans-serif;
  color: #fff;
  font-size: 2rem;
  justify-self: center;
  will-change: transform, translate, rotate, scale;
}

.header_center {
  position: absolute;
  left: calc(50% + 1.5rem);
  top: calc(62% + 2.5rem);
  transform: translate(-50%, -50%);
  width: calc(100% - 5rem);
  bottom: 1rem;
}

.main {
  .header {
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + 0.4rem), calc(-50% + 1.5rem));
  }
}

.usual {
  .header {
    left: calc(50%);
    transform: translateX(-48%);
    top: 96%;
  }
}

.header_bottom {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 100%;
}

.layout__bottom {
  position: fixed;
  bottom: 2.5rem;
  left: 50%;
  transform: translateX(-50%);
  font-family: $neueFont, sans-serif;
  color: #fff;
  overflow: hidden;
  font-size: 2rem;
}

.header {
  position: absolute;
  overflow: hidden;
  z-index: 2;
  //will-change: transform, top;
}

#head-menu {
  justify-self: right;
}

@media screen and (max-width: $mobile) {
  .logo {
    font-size: 1.8rem;
  }

  .layout {
    padding: 2rem
  }

  .layout__bottom {
    font-size: 1.8rem;
    white-space: nowrap;
  }

  .header_bottom {
    bottom: 2rem;
  }
}
