@import "../../common/styles";

.pokemon-wrap {
  //position: fixed;
  //width: 99rem;
  //height: 88rem;
  //max-width: 100%;
  //cursor: grab;
  //left: 50%;
  //top: 50%;
  //transform: translate(-97%, -49%);
  //-webkit-transform: translate(-97%, -49%);
  // TODO при уменьшении размера меньше лагает анимация
  height: 78rem;
  left: 50%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-110%,-50%);
  transform: translate(-110%,-50%);
  width: 88rem;
  z-index: 1;
}

.pokemon,
.img-trail {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.img-trail {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
  //will-change: transform, filter, opacity;
}

.pokemon-svg_block {
  display: block;
}

.pokemon-svg_none {
  display: none;
}

.pokemon-svg {
  width: 100%;
  height: 100%;
}

.pokemon-svg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.pokemon-svg__image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: $mobile) {
  .pokemon-wrap {
    width: 40rem;
    height: 64rem;
    transform: translate(-6%, -26%);
  }

  .img-trail {
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }

  .pokemon-svg {
    height: 50%;
  }
}
