@import "../../common/styles";

.pokemon-wrap {
  position: fixed;
  width: 77rem;
  height: 68rem;
  max-width: 100%;
  cursor: grab;
  left: 23%;
  top: 52%;
  transform: translate(-50%, -50%);
}

.pokemon,
.img-trail {
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.img-trail {
  position: absolute;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}

.pokemon-svg_block {
  display: block;
}

.pokemon-svg_none {
  display: none;
}

.pokemon-svg {
  width: 100%;
  height: 100%;
}

.pokemon-svg-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
}

.pokemon-svg__image {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: $mobile) {
  .pokemon-wrap {
    position: absolute;
    right: -7%;
    left: auto;
    top: 14%;
    width: 43rem;
    height: 10%;
    transform: translate(0, -50%);
  }

  .img-trail {
    background-size: 100% 50%;
    background-repeat: no-repeat;
  }

  .pokemon-svg {
    height: 55rem;
    width: 59rem;
  }
}
