@import 'common/styles/index.scss';

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
  overflow: hidden;

  .navigation__link {
    top: -1rem;
    //right: -1rem;
  }

  .navigation {
    gap: 0 9rem;
    height: 1px;
    //will-change: transform;
  }

  .nav-link__divider {
    right: -5rem;
  }

  .navigation__link.navigation__link_first {
    .nav-link__divider {
      right: -4.5rem;
    }
  }
}

.bottom {
  height: 3.8rem;

  .nav-link__counts {
    transform: translate(-1.5rem, 1rem) scale(.7);
    top: -1.2rem;
    right: -2.3rem;
  }

  .navigation {
    transform: scale(2);
    gap: 0 2rem;
    height: 0;
    //will-change: transform;
  }

  .nav-link__divider {
    right: -1.5rem;
    transform: scale(1.5);
  }

  .navigation__link {
    top: auto;
    right: auto;
  }

  .navigation__link.navigation__link_first {
    margin-right: 1rem;

    .nav-link__divider {
      right: -2rem;
    }
  }

  .nav-link__text {
    transform: scale(1);
  }
}

.navigation {
  display: flex;
  list-style: none;
  white-space: nowrap;
  -webkit-transform: scale(2.5) translate(0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
 // -webkit-transform: translate3d(0, 0, 0);
  //will-change: transform, scale;
  //backface-visibility: hidden;
  //-webkit-font-smoothing: subpixel-antialiased;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  position: relative;
  mix-blend-mode: exclusion;
  //font-size: 6.4rem;
  //transform: scale(2.5);
  // transform: matrix(2.5, 0,0, 2.5, 0, 0);
  //will-change: transform;

  &:hover {
    color: $purpp;
  }

  &.navigation__link_active {
    color: $purpp;
  }

  @include transition(color);
}

.nav-link__divider {
  position: absolute;
  color: $purpp;
  transform: scale(3);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  //-webkit-transform: translate3d(0, 0, 0);
}

.nav-link__counts {
  position: absolute;
  color: #fff;
  -webkit-transform: scale(1) translate(0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  //-webkit-transform: translate3d(0, 0, 0);
  top: -1rem;
  right: -3.1rem;
}

.nav, .navigation__item {
  //will-change: transform, translate;
}

.nav-link__text {
  display: inline-block;
  -webkit-transform: scale(2.5) translate(0, 0);
  //-webkit-backface-visibility: hidden;
  //backface-visibility: hidden;
}

@media screen and (max-width: $mobile) {
  .navigation__link {
    font-size: 2.4rem;
  }

  .nav-link__counts {
    font-size: 1.2rem;
  }

  .nav-link__counts {
    top: -.3rem;
    right: -.9rem;
  }

  .center {
    font-size: 2.4rem;
    width: auto;
    height: 5rem;

    .navigation__link {
      top: auto;
      right: auto;
    }

    .navigation {
      gap: 0 3.5rem;
    }

    .nav-link__divider {
      right: -2.5rem;
    }
  }

  .bottom {
    .navigation__link {
      top: auto;
      right: auto;
    }

    .navigation {
      gap: 0 0;
      transform: scale(0.99);
    }

    .nav-link__counts {
      transform: translate(-0.9rem, 0.1rem) scale(0.8);
    }

   .nav-link__divider {
      right: -.5rem;
    }

    .nav-link__text {
      transform: scale(.7);
    }

    .navigation__link.navigation__link_first {
      .nav-link__divider {
        right: -1.5rem;
      }
    }

    .header_bottom {
      bottom: 4rem;
    }
  }
}
