@import 'common/styles/index.scss';

.center {
  font-size: 8.2rem;

  .navigation__link {
    top: -1rem;
    right: -2rem;
    font-size: 8.2rem;
  }

  .nav-link__counts {
    font-size: 2.3rem;
  }

  .navigation {
    gap: 0 7.4rem;
  }

  .navigation__link {
    &:not(.navigation__link_last) {
      &:after {
        right: -6rem;
      }
    }
  }
}

.bottom {
  font-size: 2.7rem;

  .nav-link__counts {
    top: 0;
    right: -2rem;
    font-size: 1.2rem;
  }

  .navigation {
    gap: 0 5.1rem;
  }

  .navigation__link {
    &:not(.navigation__link_last) {
      &:after {
        right: -3rem;
      }
    }
  }

  .navigation__link.navigation__link_first {
    margin-right: 1rem;

    &:after {
      right: -5rem;
    }
  }
}

.navigation {
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.navigation__link {
  font-family: $neueFont, sans-serif;
  color: #fff;
  position: relative;
  mix-blend-mode: exclusion;

  &:hover {
    color: $purpp;
  }

  &:not(.navigation__link_last) {
    &:after {
      content: '/';
      position: absolute;
      color: $purpp;
    }

    &.navigation__link_active {
      color: $purpp;
    }
  }

  @include transition(color);
}

.nav-link__counts {
  position: absolute;
  color: #fff;
}