@import 'common/styles/index.scss';

.center {
  width: 105rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
  overflow: hidden;

  .navigation__link {
    top: -1rem;
    right: -2rem;
  }

  .navigation {
    gap: 0 7.4rem;
    will-change: transform;
  }

  .nav-link__divider {
    right: -6rem;
  }
}

.bottom {
  .nav-link__counts {
    transform: translate(-1.5rem, 1rem);
  }

  .navigation {
    transform: scale(.45);
    gap: 0 3rem;
    will-change: transform;
  }

  .nav-link__divider {
    right: -3rem;
    transform: scale(0.8);
  }

  .navigation__link {
    top: auto;
    right: auto;
  }

  .navigation__link.navigation__link_first {
    margin-right: 1rem;

    .nav-link__divider {
      right: -4rem;
    }
  }

  .nav-link__text {
    transform: scale(0.75);
  }
}

.navigation {
  display: flex;
  list-style: none;
  white-space: nowrap;
}

.navigation__link {
  color: #fff;
  position: relative;
  mix-blend-mode: exclusion;
  font-size: 8.2rem;
  will-change: transform;

  &:hover {
    color: $purpp;
  }

  &.navigation__link_active {
    color: $purpp;
  }

  @include transition(color);
}

.nav-link__divider {
  position: absolute;
  color: $purpp;
  will-change: transform;
}

.nav-link__counts {
  position: absolute;
  color: #fff;
  will-change: transform;
  font-size: 2.3rem;
}

.nav, .navigation__item {
  will-change: transform, translate, rotate, scale;
}

.nav-link__text {
  display: inline-block;
}

@media screen and (max-width: $mobile) {
  .navigation__link {
    font-size: 2.4rem;
  }

  .nav-link__counts {
    font-size: 1.2rem;
  }

  .nav-link__counts {
    top: -.3rem;
    right: -.9rem;
  }

  .center {
    font-size: 2.4rem;
    width: auto;
    height: 5rem;

    .navigation__link {
      top: auto;
      right: auto;
    }

    .navigation {
      gap: 0 3.5rem;
    }

    .nav-link__divider {
      right: -2.5rem;
    }
  }

  .bottom {
    .navigation__link {
      top: auto;
      right: auto;
    }

    .navigation {
      gap: 0 0;
      transform: scale(0.99);
    }

    .nav-link__counts {
      transform: translate(-0.9rem, 0.1rem) scale(0.8);
    }

   .nav-link__divider {
      right: -.5rem;
    }

    .nav-link__text {
      transform: scale(.7);
    }

    .navigation__link.navigation__link_first {
      .nav-link__divider {
        right: -1.5rem;
      }
    }

    .header_bottom {
      bottom: 4rem;
    }
  }
}
