@import 'common/styles/index.scss';

$columnGap: 6.7vw;
$marginCell: 5.5rem;

.portfolio {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: var(--portfolio-width);
    height: 107%;
    background-color: #000;
  }
}

.portfolio-grid__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(calc(25.3vw - ($columnGap / 3)), 24vw));
  grid-gap: 0 $columnGap;
  grid-auto-rows: 24.1vw;

  &:last-child {
    margin-bottom: $marginCell * 5;
  }
}

.portfolio__img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  background-position: 0 0%;
}

.portfolio__title {
  margin-top: .6rem;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

.portfolio__small {
  height: 24vw;
}

.portfolio__large {
  align-self: start;
  height: 36vw;
}

.portfolio__xl {
  grid-column-end: span 2;
  align-self: start;
  grid-row-end: span 2;
  height: 54.8vw;
  width: 100%;
}

.portfolio-grid__row-1 {
  .portfolio__small {
    &:first-child {
      top: 1.2vw;
    }

    &:last-child {
      top: 1.3vw;
    }
  }
}

.portfolio-grid__row-2 {
  .portfolio__large {
    align-self: end;
    top: 12.8vw;

    &:last-child {
      top: 22.3vw;
    }
  }

  .portfolio__xl {
    top: 5vw;
  }
}

.portfolio-grid__row-3 {
  .portfolio__small {
    top: 4vw;

    &:first-child {
      top: 18vw;
    }
  }

  .portfolio__large {
    top: 1.9vw;
  }
}

.portfolio-grid__row-4 {
  &:not(:first-child) {
    .portfolio__xl {
      top: 13.3vw;
    }

    .portfolio__small {
      top: 15vw;
    }
  }
}

@media screen and (max-width: $mobile) {
  .portfolio-grid__row-1, .portfolio-grid__row-2, .portfolio-grid__row-3, .portfolio-grid__row-4 {
    .portfolio__large_m, .portfolio__small_m, .portfolio__large_m {
      top: 0;
    }

    &:not(:first-child) {
      .portfolio__xl {
        top: 0
      }
    }

    &:not(:first-child) {
      .portfolio__small {
        top: 0;
      }
    }

    .portfolio__small {
      &:first-child {
        top: 0;
      }
    }

    .portfolio__large {
      top: 0;

      &:last-child {
        top: 0;
      }
    }
  }

  .portfolio-grid__row {
    grid-gap: 8rem 0;
    grid-auto-rows: auto;

    &:not(:first-child) {
      margin-top: 8rem;
    }
  }

  .portfolio__small {
    height: 33.5rem;
  }

  .portfolio__large {
    height: 55.5rem;
  }

  .portfolio__title {
    font-size: 1.6rem;
    margin-top: 1.5rem;
  }

  .portfolio__xl {
    height: 33.5rem;
    grid-column-end: unset;
    align-self: auto;
    grid-row-end: unset;
  }

  .portfolio {
    &:before {
      height: 120%;
    }
  }
}

@media screen and (min-width: 2100px) {
  .portfolio-grid__row {
    grid-template-columns: repeat(3, minmax(calc(20.3vw - ($columnGap / 3)), 24vw));
    grid-gap: 0 4.7vw;
  }

  .portfolio-grid__row-3 {
    .portfolio__small {
      &:first-child {
        top: 20vw;
      }
    }
  }

  .portfolio__small {
    height: 15vw;
  }

  .portfolio__xl {
    height: 35.8vw;
  }

  .portfolio__large {
    height: 29vw;
  }
}
