@import 'common/styles/index.scss';

$columnGap: 7.8rem;
$marginCell: 5.5rem;

.portfolio {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: var(--portfolio-width);
    height: 107%;
    background-color: #000;
  }
}

.portfolio-grid__row {
  display: grid;
  grid-template-columns: repeat(3, minmax(calc(25.3rem - ($columnGap / 3)), 0.8fr));
  grid-gap: 0 $columnGap;
  grid-auto-rows: 46.3rem;

  &:last-child {
    margin-bottom: $marginCell * 5;
  }
}

.portfolio__img {
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  background-position: 50% 95%;
}

.portfolio__title {
  margin-top: .6rem;
  font-size: 2rem;
  line-height: 100%;
  letter-spacing: -0.02rem;
}

.portfolio__small {
  height: 46.3rem;
}

.portfolio__large {
  align-self: start;
  height: 69.1rem;
}

.portfolio__xl {
  grid-column-end: span 2;
  align-self: start;
  grid-row-end: span 2;
  height: 103rem;
  width: 100%;
}

.portfolio-grid__row-1 {
  &:not(:first-child) {
    margin-top: $marginCell * 1;
  }
}

.portfolio-grid__row-2 {
  &:not(:first-child) {
    margin-top: $marginCell * 3.9;
  }

  .portfolio__large {
    align-self: end;
  }

  .portfolio__large_m {
    align-self: start;
    margin-top: $marginCell * 2;
  }
}

.portfolio-grid__row-3 {
  &:not(:first-child) {
    margin-top: $marginCell * 2;
  }

  .portfolio__small_m {
    margin-top: $marginCell * 3.5;
  }
}

.portfolio-grid__row-4 {
  &:not(:first-child) {
    margin-top: $marginCell * 4.5;
    margin-bottom: $marginCell * 2;
  }

  .portfolio__small_m {
    margin-top: $marginCell;
  }
}

@media screen and (max-width: $mobile) {
  .portfolio-grid__row-1, .portfolio-grid__row-2, .portfolio-grid__row-3, .portfolio-grid__row-4 {
    margin: 0;

    .portfolio__large_m, .portfolio__small_m, .portfolio__large_m {
      margin: 0;
    }
  }

  .portfolio-grid__row {
    grid-gap: 4rem 0;
    grid-auto-rows: auto;

    &:last-child {
      margin-bottom: 15rem
    }
  }

  .portfolio__small {
    height: 33.5rem;
  }

  .portfolio__large {
    height: 55.5rem;
  }

  .portfolio__title {
    font-size: 1.8rem;
    margin-top: 1.5rem;
  }

  .portfolio__xl {
    height: 59rem;
  }

  .portfolio {
    &:before {
      height: 120%;
    }
  }
}
