@import 'common/styles/index.scss';

.about {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 31.6rem;
  margin: 13.3rem 0 0 10rem;

  .about-img {
    position: relative;
    width: 40rem;
    height: 60.6rem;
  }

  .distort {
    position: absolute;
    pointer-events: none;
    will-change: transform;

    @include transition(width, height);
  }

  .distort__img {
    @include transition(opacity);
  }

  .distort__img_opacity {
    opacity: 0;
  }

  .about-img__common {
    position: absolute;
  }

  .about-img__breus {
    width: 40rem;
    height: 60.6rem;
  }

  .about-img__pokemon {
    width: 79rem;
    height: 68.6rem;
  }

  .about__content {
    margin-top: -4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    font-size: 2.7rem;
    width: 30.4rem;
    line-height: 2.9rem;
  }

  .about-content_grey {
    opacity: .4;
  }

  .about-content_first {
    width: 23rem;
  }

  .about-content_purpp {
    color: $purpp;
  }

  .about-content__wrap {
    overflow: hidden;
  }

  @media screen and (min-width: 1921px) {
    margin: 13.3rem 0 0 0;
    justify-content: center;
  }
}

.about-menu__btn {
  font-family: $neueFont, sans-serif;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 2.3rem;
  letter-spacing: -0.02rem;

  &:after {
    background-color: #fff;
    height: .2rem;
    bottom: -.1rem;
    left: 0;
    width: 100%;
  }

  @include link-hover(0, right, 1, left);
}

.about-menu__btn_active {
  @include link-hover(1, left, 0, right);
}

.about-menu {
  display: flex;
  gap: 0 2rem;
  position: fixed;
  right: 2.5rem;
  top: 2.5rem;
  z-index: 2;
}

@media screen and (max-width: $mobile) {
  .about {
    height: 100%;
    margin: auto 0;
    gap: 0 3.9rem;
    align-items: center;

    .about-img {
      height: auto;
    }

    .about-img__breus {
      width: 12.6rem;
      height: 18.8rem;
      right: -1.2rem;
      top: -8.8rem;
    }

    .about-img__pokemon {
      width: 53rem;
      height: 50rem;
      right: -14.8rem;
      top: -17.7rem;
    }

    .distort__img {
      position: absolute;
    }

    .about__content {
      margin-top: 0;
      gap: 1.5rem 0;
      font-size: 1.8rem;
      width: auto;
      line-height: 1.9rem;
    }

    .about-content_first {
      margin-top: 2rem;
      width: 16rem;
    }

    .distort {
      left: -4rem;
      top: -7rem;
    }
  }

  .about-menu__btn {
    font-size: 1.8rem;
  }

  .about-menu {
    position: relative;
    top: 1.5rem;
    right: 0;
  }
}
