@import 'common/styles/index.scss';

.about {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 31.6rem;
  height: 100%;
  margin: 0 auto;
  width: 75%;

  .about-img {
    position: relative;
    width: 39.4rem;
    height: 60.6rem;
  }

  .distort {
    position: fixed;
    pointer-events: none;
    shape-rendering: optimizeSpeed;

    @include transition(width, height);
  }

  .about-img__common {
    position: absolute;
  }

  .about-img__breus {
    width: 55.8rem;
    height: 51rem;
    left: 15%;
    top: 26%;
  }

  .about-img__pokemon {
    width: 101rem;
    height: 68.5rem;
    margin-left: -12.9rem;
    margin-top: -2.1rem;
  }

  .about__content {
    margin-top: 1.9rem;
    display: flex;
    flex-direction: column;
    gap: 1.9rem 0;
    font-size: 2.4rem;
    letter-spacing: -0.32px;
    line-height: 110%;
    width: 29.4rem;
    overflow: hidden;
  }

  .about-content_grey {
    opacity: .4;
  }

  .about-content_first {
    width: 21rem;
  }

  .about-content_purpp {
    color: $purpp;
  }

  .about-content_third {
    width: 23.5rem;
  }

  .about-content__wrap {
    overflow: hidden;
  }
}

.about-menu__btn {
  font-family: $neueFont, sans-serif;
  position: relative;
  cursor: pointer;
  color: #fff;
  font-size: 2rem;
  letter-spacing: -0.02rem;

  &:after {
    background-color: #fff;
    height: .2rem;
    bottom: -.1rem;
    left: 0;
    width: 100%;
  }

  @include link-hover(0, right, 1, left);
}

.about-menu__btn_active {
  @include link-hover(1, left, 0, right);
}

.about-menu {
  display: flex;
  overflow: hidden;
  gap: 0 2rem;
  position: fixed;
  right: 2.8rem;
  top: 2.6rem;
  z-index: 2;
}

@media screen and (max-width: $mobile) {
  .about {
    justify-content: center;
    width: 100%;
    height: calc(100% - 5rem);
    margin: auto 0;
    gap: 0 2rem;

    .about-content_sec {
      width: 20rem;
    }

    .about-content_third {
      width: 18.5rem;
    }

    .about-img {
      width: 50%;
      height: 28rem;
    }

    .about-img__breus {
      top: 0;
      width: 17rem;
      height: 32rem;
      right: -1.6rem;
      left: auto;
    }

    .about-img__pokemon {
      width: 52rem;
      height: 45rem;
      right: -13.8rem;
      top: -2.7rem;
    }

    .distort__img {
      position: absolute;
    }

    .about__content {
      margin-top: 0;
      gap: 1.8rem 0;
      font-size: 1.6rem;
      line-height: 1.68rem;
      width: 78%;
    }

    .about-content_first {
      margin-top: 0;
      width: 13rem;
    }

    .distort {
      position: absolute;
    }

    .about-img__breus-wrap {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
  }

  .about-menu__btn {
    font-size: 1.6rem;
  }

  .about-menu {
    position: relative;
    top: 0;
    right: 0;
  }
}
