@import "common/styles";

:root {
  font-size: 0.625rem;

  ul {
    margin: 0;
    padding: 0
  }

  a {
    text-decoration: none;
  }

  button {
    background: none;
    padding: 0;
    border: none;
  }

  @media all and (max-width: 1920px) {
    font-size: 0.6vw;
  }

  @media all and (max-width: 991px) {
    font-size: .625rem;
  }
}

html, body {
  background-color: #000;
  color: #fff;
  font-family: $neueFont, sans-serif;
  scroll-behavior: smooth;
}

.blended-mode {
  mix-blend-mode: exclusion;
}