@import "common/styles";

:root {
  font-size: 10px;

  ul {
    margin: 0;
    padding: 0
  }

  a {
    text-decoration: none;
  }

  //body, html, #root {
  //  height: 100vh;
  //}
}

html, body {
  background-color: #000;
}

.blended-mode {
  mix-blend-mode: exclusion;
}