@import "common/styles";
@import "normalize-scss";
@include normalize();

:root {
  font-size: 0.625rem;
  --portfolio-width: 0;
  --portfolio-translate: translate(0px, 0%);

  ul {
    margin: 0;
    padding: 0
  }

  a {
    text-decoration: none;
  }

  button {
    background: none;
    padding: 0;
    border: none;
  }

  //@media all and (max-width: 1920px) {
  //  font-size: 0.6vw;
  //}
  //
  //@media all and (max-width: $mobile) {
  //  font-size: .625rem;
  //}
}

html, body {
  background-color: #000;
  color: #fff;
  font-family: $neueFont, sans-serif;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  overflow: hidden;
}

.blended-mode {
  mix-blend-mode: exclusion;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 .6rem rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: $purpp;
  border-radius: 1rem;
}

.preloader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-color: #000000;
}

.preloader__progress {
  position: absolute;
  background-color: $purpp;
  top: 0;
  left: 0;
  width: 0;
  height: 1rem;
  @include transition(width);
}

.preloader__percent-wrap {
  padding: 0 2rem 2rem 0;
  width: 51.3rem;
  height: 16rem;
  text-align: right;
  overflow: hidden;
}

.preloader__percent {
  font-size: 20rem;
  display: block;
  line-height: 80%;
  letter-spacing: -0.4rem;
}

@media screen and (max-width: $mobile) {
  .preloader__percent-wrap {
    width: 26.3rem;
    height: 7rem;
  }

  .preloader__percent {
    font-size: 9rem;
    font-style: normal;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: -0.08rem;
  }
}
